*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100vw;
}

.MainContainer{
    background-color: rgb(43, 43, 43);
    display: flex;
    width: 100vb;
    height: 100vh;
    
}

.GridContainer{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    width: 100%;
    height: 100%;
    margin-left: 80px;
}

#Monday{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 7;
    
}

#Tuesday{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: solid;
    grid-column-start: 2;
    grid-row-start: 2;
}

#Wensday{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: solid;
    grid-column-start: 3;
    grid-row-start: 2;  
}

#Thursday{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: solid;
    grid-column-start: 4;
    grid-row-start: 2;
    
}

#Friday{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: solid;
    grid-column-start: 5;
    grid-row-start: 2;
    
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
    height: 60px;
    border-style: solid;
    border-spacing: 10px;
}