*{
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    justify-content: center;
    font-size: 15px;
    
}

title{
    display: none;
}

body{
    background-color: black;
}

.MainContainer{
    justify-content: left;
    background-color: rgb(43, 43, 43);
    display: flex;
    width: 100vb;
    height: 100vh;
}

.GridContainer{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    width: 100%;
    height: 100%;
}

#Monday{
    border: solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

#Tuesday{
    border: solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

#Wensday{
    border: solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

#Thursday{
    border: solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

#Friday{
    border: solid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

p{
    border-style: dashed;
    border-color: yellow;
}